 <style>
        #divQrScannerTemplate {
            display: block;
        }
         <style>
        .wrapper {
    text-align: center;
    }
    .button {
        position: absolute;
        top: 50%;
    }
    </style>

<div id="divQrScannerTemplate">
    <h1>QR Code Scanner</h1>
    <div id="divQR" class = "wrapper">
            <div>
			      <img class="media-object img-circle" src="/images/cycle.jpg">
			</div>
            <br>
            <div class="form-group">
                <button id="btnQR" type="button" class="button btn btn-primary">Scan QR Code</button>
            </div>
        </div>
    </div>

</div>